<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Json</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script type="module" src="script.js" defer></script>
</head>
<body class="container">
    <div class="formulario">

        <h1 class="text-center">Registro productos</h1>
        <form id="dataForm" class="mb-4">
            <div class="mb-3">
                <label for="codigoInput" class="form-label">codigo:</label>
                <input type="text" class="form-control" id="codigoInput" name="codigo">
            </div>
            <div class="mb-3">
                <label for="nombreInput" class="form-label">nombre:</label>
                <input type="text" class="form-control" id="nombreInput" name="nombre">
            </div>
            <div class="mb-3">
                <label for="precioInput" class="form-label">precio:</label>
                <input type="number" class="form-control" id="precioInput" name="precio">
            </div>
            <div class="mb-3">
                <label for="stockInput" class="form-label">stock:</label>
                <input type="number" class="form-control" id="stockInput" name="stock">
            </div>
            <div class="col-12 text-center">
                <button type="button" id="guardarButton" class="btn btn-primary">Guardar</button>
                <button type="button" id="verButton" class="btn btn-info">Ver</button>
            </div>
            
        </form>
    </div>

</body>
</html>
